socket
nmap
locale 
platform
time
random
pyfiglet
geocoder
requests
http
scapy
subprocess
webbrowser
smtplib
json 
getpass
cryptography
crypto
sniffer
gmail
psutil
datetime
wmi
logging
re
uuid
device_detector
DeviceDetector
SoftwareDetector
Nominatim
